.swiper {
	box-sizing: border-box;
	position:         fixed;
	display:          flex;
	flex-direction:   column;
	justify-content:  flex-end;
	align-items:      center;
	bottom:           0;
	width:            100%;
	height:           100vh;
	background-color: darkgray;

	&__road {
		width:            100%;
		background-color: transparent;
		display:          flex;
		flex-direction:   column;
		justify-content:  flex-end;
		align-items:      center;
	}

	&__modal {
		padding-top: 25px;
		width:            100%;
		background-color: #c1f2ca;
		//overflow: scroll;
	}

	&__container {
		overflow: overlay;
		padding-bottom: 25px;
	}

	&__footer {
		padding-bottom: 25px;
	}
}
